
/*! MIKO CUSTOM */

@media (min-width: 1024px) {
    /* Поправим ширину правого меню */
    .lg\:w-56 {
        width: 16rem;
    }

    /* Поправим ширину левого меню */
    .md\:w-75 {
        width:19.75rem
    }

    /* Поправим ширину центрального блока */
    .container {
        max-width: 1450px;
    }

    /* В ретине большие картинки не на всю страничку*/
    img.img-zoomable {
        width: 748px;
    }
}

/* Стиль шапки */
#retype-header .border-base-border {
    border: none;
}

/* Стиль бокового меню */
.sidebar {
    border-radius: 2rem;
    border-width: 1rem;
}

#retype-container {
    background-color: var(--base-bg);
}

.simplebar-content {
    padding-right: 12px !important;
}

/* Стиль элементов бокового меню */
li > div.rounded-l-lg {
    border-bottom-right-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
}

/* Стиль содержимого текущей страницы */
.border-sidebar-right-border {
    border: none;
}

/* Скроем второй заголовок в карточке */
.text-card-title-text {
    display: none;
}

/* Ещё более компактная карточка */
.miko-dense-card + .card-compact-group{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Стиль для картинок с тенью */
img.miko-art {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    outline: 1px solid #d1d5db;
}

/* Титульная картинка */
img.miko-title {
    border-radius: 24px;
}

/* Скроем дублирование image-alt */
figcaption {
    display: none;
}

/*Запрет переноса выделенных блоков по словам*/
.docs-markdown code:not([class*=language-]):not(.member-signature) {
    white-space: nowrap;
}

/* Подзаголовок в компоненте ref */
.miko-ref .subtitle {
    font-size: 16px;
    font-weight: 400;
}

/* Скрываем адрес ссылки в компоненте ref */
.miko-ref .text-gray-400 {
    display: none;
}

/* Отступ справа от иконки */
.miko-ref svg {
    margin-right: 12px;
}

/* Выравнивание иконок внутри текста инструкции */
.miko-man svg {
    vertical-align: middle;
    width: 1em;
}

/* Для флажков в таблице сравнения */
.green svg {
    color: green;
}

.blue svg {
    color: #49B2ED;
}

.rotate90 svg {
    transform: rotate(90deg);
}
